---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>typed-postmessage-rpc</title>
  </head>
  <body>
    <h1>typed-postmessage-rpc: workers test</h1>
    <script>
      import { serve } from "typed-postmessage-rpc/server";
      import { connect } from "typed-postmessage-rpc/client";
      import {
        helloService,
        type HelloServiceType,
      } from "../../services/helloService.mts";

      const worker = new Worker(
        new URL("../../workers/worker.mts", import.meta.url),
        {
          type: "module",
        }
      );

      serve({
        service: helloService,
        on: worker,
      });

      const client = await connect<HelloServiceType>({
        on: worker,
      });

      console.log(await client.hello.invoke("worker-parent"));
    </script>
  </body>
</html>
