---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>typed-postmessage-rpc</title>
    </head>
    <body>
        <h1>typed-postmessage-rpc: child window</h1>
        <script>
            import {serve} from 'typed-postmessage-rpc/server';
            import {connect} from 'typed-postmessage-rpc/client';
            import {
                type ExampleServiceType,
                exampleService,
            } from '../../services/exampleService.mts';

            serve({
                service: exampleService,
                on: window,
            });

            const client = await connect<ExampleServiceType>({
                on: window.parent,
            });

            console.log(await client.hello.invoke('window'));
        </script>
    </body>
</html>
