---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>typed-postmessage-rpc</title>
    </head>
    <body>
        <h1>typed-postmessage-rpc: window test</h1>

        <script>
            import {serve} from 'typed-postmessage-rpc/server';
            import {connect} from 'typed-postmessage-rpc/client';
            import {
                type ExampleServiceType,
                exampleService,
            } from '../../services/exampleService.mts';

            const inner = window.open('/windows/inner');

            if (inner) {
                inner.addEventListener('load', async () => {
                    const client = await connect<ExampleServiceType>({
                        on: inner,
                    });

                    console.log(await client.hello.invoke('window-parent'));
                });
            }

            serve({
                service: exampleService,
                on: window,
            });
        </script>
    </body>
</html>
