---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>typed-postmessage-rpc</title>
    </head>
    <body>
        <h1>typed-postmessage-rpc</h1>

        <br />
        <a href="/workers/test">/workers/test</a>
        <br />
        <a href="/iframes/test">/iframes/test</a>
        <br />
        <a href="/windows/test">/windows/test</a>
        <br />
        <a href="/shared-workers/test">/shared-workers/test</a>
        <br />
    </body>
</html>
