---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>typed-postmessage-rpc</title>
    </head>
    <body>
        <h1>typed-postmessage-rpc: shared-worker test</h1>

        <script>
            import {serve} from 'typed-postmessage-rpc/server';
            import {connect} from 'typed-postmessage-rpc/client';
            import {
                type HelloServiceType,
                helloService,
            } from '../../services/helloService.mts';

            const worker = new SharedWorker(
                new URL('../../workers/shared.mts', import.meta.url),
                {
                    type: 'module',
                },
            );

            serve({
                service: helloService,
                on: worker.port,
            });

            worker.port.start();

            const client = await connect<HelloServiceType>({
                on: worker.port,
            });

            console.log(await client.hello.invoke('shared-worker-parent'));
        </script>
    </body>
</html>
