---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>typed-postmessage-rpc</title>
    </head>
    <body>
        <h1>typed-postmessage-rpc: iframe test</h1>

        <iframe id="inner" src="/iframes/inner"></iframe>

        <script>
            import {serve} from 'typed-postmessage-rpc/server';
            import {connect} from 'typed-postmessage-rpc/client';
            import {
                type ExampleServiceType,
                exampleService,
            } from '../../services/exampleService.mts';

            const inner = document.getElementById('inner');

            if (inner && inner instanceof HTMLIFrameElement) {
                inner.addEventListener('load', async () => {
                    if (inner.contentWindow) {
                        const client = await connect<ExampleServiceType>({
                            on: inner.contentWindow,
                        });

                        console.log(await client.hello.invoke('iframe-parent'));
                    }
                });
            }

            serve({
                service: exampleService,
                on: window,
            });
        </script>
    </body>
</html>
