---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>typed-postmessage-rpc</title>
  </head>
  <body>
    <h1>typed-postmessage-rpc: automated cleanup test</h1>
    <script>
      import { serve } from "typed-postmessage-rpc/server";
      import { connect } from "typed-postmessage-rpc/client";
      import {
        exampleService,
        type ExampleServiceType,
      } from "../../services/exampleService.mts";

      const worker = new Worker(
        new URL("../../workers/subscription-client.mts", import.meta.url),
        {
          type: "module",
        }
      );

      serve({
        service: exampleService,
        on: worker,
        subscriptionCleanupTimeout: 1000
      });

      setTimeout(() => {
          worker.terminate();
      }, 4000);
    </script>
  </body>
</html>
